html, body {
	height: 100%;
}
.hidden {
	visibility: hidden;
}
body {
	margin: 15px;
	overflow: hidden;
	font-family: helvetica, arial, sans-serif;
	background-image: url("../images/textures/txt11.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
h1 {
	
	font-size: 30px;
	font-family: georgia, serif;
	font-style: bold-italic;
	color: #ff3366;
	vertical-align= bottom;
}
.tt{
	margin-top: 20%;
	width: 100%;
	height: 60%;
}
.tdleft {
	text-align: right; 
}
.tdright {
	text-align: left; 
}
/* LINKS*/
a:link {
	color: #ff3366;
}
a:visited {
	color: #ff9999;
}
a:hover {
	color: #ff0033;
	
}

